html, body {
  margin: 0;
}

h1, h6 {
  padding: 0 20px;
  text-align: center; 
  font-size: 16px;
  text-transform: uppercase;
}
.text-info {
  text-align: center; 
}
header {
  max-width: 900px;
  margin: 0 auto; 
  padding: 10px;
}
 .it-wrapper {
   display: flex;
   flex-wrap: nowrap;
   height: auto;
   overflow:hidden;
 }

 #FodboldGif {
   width: 70%;
   height: auto;
 }
.fodbold-tekst {
   width: 30%;
   display: flex;
   align-items: center;
 }

 .fodbold-tekst > ul {
   padding-right: 20px; 
 }
 


.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


@media screen and (max-width: 750px) {
  .it-wrapper {
    flex-wrap: wrap;
  }
  #FodboldGif, .fodbold-tekst {
    width: 100%;
  }
}
